@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&family=Oswald:wght@200..700&display=swap");

:root {
    --color-uno: #071952;
    --color-dos: #EBF4F6;
    --color-tres: #002bb8;
    --color-cuatro: #350066;

    --fuente-comic: "Comic Neue", cursive;
    --fuente-oswal: "Oswald", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-uno);
    color: var(--color-dos);
}

.cabeza{
    padding: 2% 0% 0% 15%;
}

.cabeza__menu{
    display: flex;
    gap: 80px;
}

.cabeza__menu__link{
    font-family: var(--fuente-comic);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-tres);
    text-decoration: none;
}

.pres{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pres__cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pres__cont__titulo{
    font-size: 2rem;
    font-family: var(--fuente-comic);
}

.des__titulo{
    color: var(--color-tres);
}

.subtitulo{
    color: var(--color-dos);
    font-size: 1.5rem;
    font-family: var(--fuente-comic);
    font-style: italic;
}

.parrafos{
    font-size: 1.5rem;
    font-family: var(--fuente-oswal);
}

.enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.enlaces__subtitulo{
    font-family: var(--fuente-comic);
    font-weight: 400;
    font-size: 1.5rem;
}

.pres__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--color-tres);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: var(--color-dos);
    font-family: var(--fuente-comic);
}

.pres__enlaces__link:hover{
    background-color: var(--color-cuatro);
}

.pres__img{
    width: 50%;
}

.pie{
    color: var(--color-dos);
    background-color: var(--color-tres);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-comic);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .cabeza{
        padding: 10%;
    }
    .cabeza__menu{
        justify-content: center;
    }
    .pres{
        flex-direction: column-reverse;
        padding: 10%;
    }
    .pres__cont{
        width: 50%;
    }
    

}   